<br><br><br>
<div>
  <div style="margin: 10px 0px 0px 10px; text-align: center">
    <h2>Update Song: {{songImage.name}}</h2>
  </div>
  <br>
  <h4 style="text-align: center">fill in the Form!</h4>

</div>
<div class="container" style="text-align: center">
  <div class="row">

    <form #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
      <div class="ms_register_form" style="padding: 30px 0px 0px 360px">

        <div class="form-group">
          <label>SongName: </label><br><span *ngIf="name.hasError('required')" style="color: #f1a5a1"> *The Name Song is required!</span>
          <input type="text" placeholder="Enter SongName" class="form-control" name="name" [(ngModel)]="form.name"
                 #name="ngModel" required>
        </div>
        <div class="form-group">
          <label>Lyric: </label><br><span *ngIf="lyric.hasError('required')" style="color: #efa39f"> *The Lyric Song is required!</span>
          <textarea type="text" rows="9" cols="70" placeholder="Enter Lyric" class="form-control" name="lyric"
                    [(ngModel)]="form.lyric" #lyric="ngModel" required>
              </textarea>
        </div>
        <div class="form-group">
          <label>Category: </label>
          <select class="form-control" name="categories" [(ngModel)]="form.categories" #categories="ngModel">
            <option *ngFor="let cate of categoriess" [value]="cate.id">{{cate.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Singers</label>
          <div>
            <input #Value type="text" class="form-control" (change)="onchage(Value.value)" aria-label="Username"
                   aria-describedby="basic-addon1" placeholder="Singer">
          </div>
          <div *ngFor="let item of singgersOnchage">
            <p>{{ item.name }}</p>
          </div>
          <br>
          <div class="form-group">
            <label>Author: </label>
            <input type="text" class="form-control" name="author" [(ngModel)]="form.author" #author="ngModel"
                   placeholder="Author" aria-describedby="basic-addon1">
          </div>
          <div class="form-group">
            <label>Description: </label>
            <textarea type="text" rows="20" cols="70" placeholder="Enter descripton" class="form-control"
                      name="description"
                      [(ngModel)]="form.description" #description="ngModel">
              </textarea>
          </div>
          <button class="ms_btn" (click)="ngSubmit()">Update</button>
        </div>
      </div>
    </form>

  </div>
</div>


<!--<div style="margin: 50px">-->
<!--  <div class="row">-->

<!--    <div class="col-lg-12">-->
<!--      <div class="ms_heading">-->
<!--        <h1>List Song</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--<div class="col-lg-6 col-md-12 padding_right20"  >-->
<!--  <div class="ms_weekly_box">-->
<!--    <div class="weekly_left">-->
<!--                    <span class="w_top_no">-->
<!--                        1-->
<!--                    </span>-->
<!--      <div class="w_top_song">-->
<!--        <div class="w_tp_song_img">-->
<!--          <img src="" alt="">-->
<!--          <div class="ms_song_overlay">-->
<!--          </div>-->
<!--          <div class="ms_play_icon" *ngIf="!isPlaying"-->
<!--               (click)="listen(songImage)">-->
<!--            <img src="assets/images/svg/play.svg" alt="">-->
<!--          </div>-->
<!--          <div class="ms_play_icon" *ngIf="isPlaying"-->
<!--               (click)="changePause()">-->
<!--            <img src="assets/images/svg/pause.svg" alt="">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="w_tp_song_name">-->
<!--          <h3><a href="#">{{songImage.name}}</a></h3>-->
<!--          <p>Singer</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="weekly_right">-->
<!--      <span class="w_song_time">3:10</span>-->
<!--      <span class="ms_more_icon" data-other="1">-->
<!--                        <img src="../../../assets/images/svg/more.svg" alt="">-->
<!--                    </span>-->
<!--    </div>-->
<!--    <ul class="more_option">-->
<!--      <li>-->
<!--        <a href="javascript:" class="ms_btn" ><span class="opt_icon"><i-->
<!--          class="far fa-trash-alt"></i></span>Delete-->
<!--        </a>-->
<!--      </li>-->
<!--      <br>-->
<!--      <li>-->
<!--        <a href="javascript:" class="ms_btn" [routerLink]="['/updatesong',songImage.id]" ><i class="fas fa-plus"></i>update-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <div style="display: none">-->
<!--      <audio controls loop id="track">-->
<!--        <source src="{{songImage.fileUrl}}" type="audio/mpeg">-->
<!--        <source src="{{songImage.fileUrl}}" type="audio/ogg">-->
<!--      </audio>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="ms_divider"></div>-->
<!--</div>-->
