<div class="padder_top80">
    <div class="ms_header">
        <div class="ms_top_left">
            <div class="ms_top_search">
                <form [formGroup]="searchForm"  (ngSubmit)="search()">
                    <input type="text" class="form-control" placeholder="Search Music Here.." formControlName="nameSearch">
                </form>
                <span class="search_icon">
                    <img src="../../../assets/images/svg/search.svg" alt="">
                </span>
            </div>
            <div class="ms_top_trend">
                <span><a href="#" class="ms_color">Trending Songs :</a></span> 
                <span class="top_marquee"><a href="#">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley (+8 More)</a></span>
            </div>
        </div>
        <div class="ms_top_right">
            <div class="ms_top_lang">
                <span data-toggle="modal" data-target="#lang_modal">languages <img src="../../../assets/images/svg/lang.svg" alt=""></span>
            </div>
            <div class="ms_top_btn">
                <a href="javascript:" (click)="createSong()" class="ms_btn">upload</a>
                <a href="javascript:" class="ms_admin_name">Hello Bella <span class="ms_pro_name">ns</span>													
                </a>
                <ul class="pro_dropdown_menu">
                    <li><a href="javascript:" (click)="profile()">Profile</a></li>
                    <li><a href="manage_acc.html" target="_blank">Pricing Plan</a></li>
                    <li><a href="blog.html" target="_blank">Blog</a></li>
                    <li><a href="">Setting</a></li>
                    <li><a href="javascript:" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>