<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="register_dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="ms_register_img">
                    <img src="../../../assets/images/register_img.png" alt="" class="img-fluid" />
                </div>
                <div class="ms_register_form">
                    <h2>Register / Sign Up</h2>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Your Name" class="form-control" formControlName="name"
                            required>
                        <span class="form_icon">
                            <i class="fa_icon form-user" aria-hidden="true"></i>
                        </span>
                        <div class="text-danger" *ngIf="name.invalid ">
                            Name is required *
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Your Username" class="form-control" formControlName="username"
                            required minlength="6" maxlength="15">
                        <span class="form_icon">
                            <i class="fa_icon form-user" aria-hidden="true"></i>
                        </span>
                        <div class="text-danger" *ngIf="username.invalid">
                            <div *ngIf="username.errors?.required">
                                Username is required *
                              </div>
                              <div *ngIf="username.errors?.minlength">
                                Username must be at least 6 characters *
                              </div>
                              <div *ngIf="username.errors?.maxlength">
                                Username must be no more than 15 characters *
                              </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Enter Your Email" class="form-control" formControlName="email"
                            required  >
                        <span class="form_icon">
                            <i class="fa_icon form-envelope" aria-hidden="true"></i>
                        </span>
                      <div class="text-danger" *ngIf="email.invalid ">
                        Email is required or malformed *
                      </div>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Enter Password" class="form-control" formControlName="password"
                            required minlength="6"
                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <span class="form_icon">
                            <i class="fa_icon form-lock" aria-hidden="true"></i>
                        </span>
<!--                      <div class="text-danger" *ngIf="password.invalid "></div>-->
                        <div class="text-danger" *ngIf="password.invalid">
<!--                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--                            <div *ngIf="f.password.errors.required">Password is required</div>-->
<!--                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
<!--                          </div>-->
                            <div *ngIf="password.errors?.required">
                                Password is required *
                              </div>
                              <div *ngIf="password.errors?.minlength">
                                Password must be at least 6 characters *
                              </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword"
                            required
                               [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                        <span class="form_icon">
                            <i class=" fa_icon form-lock" aria-hidden="true"></i>
                        </span>
                      <div class="text-danger" *ngIf="confirmPassword.invalid">
                        <div *ngIf="confirmPassword.errors?.required">
                          Confirm Password is required *
                        </div>
                      </div>
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
<!--                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>-->
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                        <div class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                            <div *ngIf="confirmPassword != password">
                                Password does not match *
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit">register</button>
                    </div>
                    <p>Already Have An Account? <a data-toggle="modal" class="ms_modal hideCurrentModel">login here</a></p>
                </div>
            </div>
        </div>
    </div>
</form>
