.autocomplete-suggestions {
  width: 612px;
  position: absolute;
  display: none;
  overflow: auto;
  z-index: 999;
  background-color: white;
  max-height: 300px;
  margin-left: -2px;
  margin-top: 10px;
  -ms-overflow-style: none;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px;

}

.autocomplete-suggestions img {
  height: 150px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  -ms-overflow-style: none;
  overflow-y: hidden;
  overflow-x: hidden;
}
