<br><br>
<h1  style="color:white !important; text-align: center;"  > Create New Song </h1>


<br>
<!--<div class="row">-->
<div style="text-align: center">
  <div *ngIf="isCheckUploadAvatar ; then img else img1"></div>
  <ng-template #img><img style="width: 150px ;height: 150px; margin-bottom: 20px" src="{{formavt.avatarUrl}}" alt=""
                         class="img-fluid"></ng-template>
  <ng-template #img1><img style=" margin-bottom: 20px;width: 150px ;height: 150px"
                          src="https://cdn3.vectorstock.com/i/1000x1000/26/62/runner-avatar-figure-with-mp3-player-music-block-vector-32312662.jpg"
                          alt=""></ng-template>
</div>
<div *ngIf="isCheckUploadFile ; then case else case1"></div>
<div style="margin-bottom: 20px ;text-align: center">
  <ng-template #case >
    <div style="text-align: center">
      <audio controls disabled="" style="text-align: center">
        <source [src]="form.fileUrl" style="width: 350px; height: auto">
      </audio>
  </div>
  </ng-template>
  <ng-template #case1></ng-template>
</div>
<!--  </div>-->
<div>
  <div style="text-align: center;margin-bottom: 20px">
    <div style="margin-bottom: 20px">
      <h6 *ngIf="!isCheckUploadAvatar">Please Upload Avatar Song</h6>
      <div style="text-align: center">
        <app-upload-img (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-img>
      </div>
    </div>
    <div>
      <h6 *ngIf="!isCheckUploadFile">Please Upload FileSong</h6>
      <div style="text-align: center">
        <app-upload-url (giveURLtoCreate)="onChangeFile($event)"></app-upload-url>
      </div>
    </div>
  </div>
</div>
<form #f="ngForm" (ngSubmit)="f.form.valid" novalidate style="margin-bottom: 50px">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tên Bài Hát: </label><span style="color:#ef8989;" *ngIf="name.hasError('required')"> *The Name Song is required!</span>
      <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required
             placeholder="Name-Song">
    </div>
    <div class="form-group col-md-6">
      <label style="margin-left: 10px;">Category: </label><span style="color:#ef8989;" *ngIf="categories.hasError('required')"> *The categories is required!</span>
      <select class="form-control" name="categories" style="margin-left: 10px;"  [(ngModel)]="form.categories" #categories="ngModel" required>
        <option selected>Choose...</option>
        <option *ngFor="let cate of categoriess" [value]="cate.id">{{cate.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label>Lyric: </label><span style="color:#ef8989;" *ngIf="lyric.hasError('required')"> *The Lyric Song is required!</span>
      <input  style="width: 825px;" type="text" class="form-control" placeholder="Lyric-Song" name="lyric" [(ngModel)]="form.lyric"
                #lyric="ngModel" required>
    </div>
    <div class="form-group col-md-6">
      <label >Description</label>
      <input style="width: 825px;" type="text" class="form-control" placeholder="Description" name="description"
                [(ngModel)]="form.description" #description="ngModel">
    </div>
  </div>

  <div class="form-row">

    <div class="form-group col-md-6" >
        <label style="margin-left: 10px;">Singers: </label>
        <input  type="text" class="form-control" #Value (change)="onchage(Value.value)">
      <ul *ngFor="let item of singgersOnchage">
        <li>{{item.name}}</li>
      </ul>
    </div>
    <div class="form-group col-md-6">
      <label style="margin-left: 10px;">Author: </label>
      <input style="margin-left: 10px;" type="text" class="form-control" name="author" [(ngModel)]="form.author" #author="ngModel"
             placeholder="Author" aria-describedby="basic-addon1">
    </div>
  </div>


  <br>
  <div style="text-align: center">
    <a href="javascript:" class="ms_btn" (click)="ngSubmit()">Create</a>
  </div>
</form>







