<div class="ms_top_artist">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ms_heading">
                    <h1>New Playlist</h1>
                    <span class="veiw_all"><a href="javascript:">view more</a></span>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="col-lg-2 col-md-6" *ngFor="let playlist of playlists, let i = index">
                        <div class="ms_rcnt_box marger_bottom30">
                            <div class="ms_rcnt_box_img">
                                <img src="{{playlist.avatarUrl}}" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon btn_play" (click)="listenCount(playlist)">
                                        <img class="icon_pause" src="assets/images/svg/pause.svg" alt="" />
                                        <img class="icon_play" src="assets/images/svg/play.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a [routerLink]="['/comment/playlist/home',playlist.id]" href="javascript:">{{playlist.name}}</a></h3>
                                <p>{{playlists[i].songs.length}} songs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="swiper-button-next2 slider_nav_next"></div>
<div class="swiper-button-prev2 slider_nav_prev"></div>
