<div class="ms_heading">
  <h1>Top Listen Songs</h1>
  <span class="veiw_all"><a href="javascript:">view more</a></span>
</div>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let song of songList; let i = index">
      <div class="ms_rcnt_box">
        <div class="ms_rcnt_box_img">
          <img src="{{ song.avatarUrl }}" alt="" />
          <div class="ms_main_overlay">
            <div class="ms_box_overlay"></div>
            <div class="ms_more_icon">
              <img src="../../../assets/images/svg/more.svg" alt="" />
              <i class="fas fa-headphones" style="font-size: 20px">
                {{song.numberOfView}}
              </i>
            </div>
            <ul class="more_option">
              <li (click)="likeCount(song)" *ngIf="!isCheckLikeSong"><a href="javascrip:"><span class="opt_icon"><span
                class="icon icon_fav"></span></span>Add To Favourites</a>
              </li>
              <li (click)="likeCount(song)" *ngIf="isCheckLikeSong"><a><span class="opt_icon"><span
                class="icon icon_fav"></span></span>Add to Favourites</a>
              </li>

              <li (click)="getModal(song.id)">
                <a href="javascript:"
                  ><span class="opt_icon"
                    ><span class="icon icon_playlst"></span></span
                  >Add To Playlist</a
                >
              </li>
            </ul>
            <div class="ms_play_icon btn_play" (click)="listenCount(song)">
              <img class="icon_pause" src="assets/images/svg/pause.svg" alt="" />
              <img class="icon_play" src="assets/images/svg/play.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="ms_rcnt_box_text">
          <h3>
            <a [routerLink]="['/song', song.id]">{{ song.name }}</a>
          </h3>
          <div *ngFor="let s of song.singer">
            <p>{{s.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Arrows -->
<div class="swiper-button-next slider_nav_next"></div>
<div class="swiper-button-prev slider_nav_prev"></div>
