<!-- <div style="background-color: #14182a; ">
  <section class="bg-light p-3 my-4" style="border-radius: 5px">
    <div>
      <div class="px-5">
        <h3 class="mb-3">Comment Play List</h3>
        <div>
          <ul class="list-group br-1" style="border-radius: 200px"
              *ngFor="let comment of commentPlayList">
            <li class="list-group-item pb-1">
              <div class="name-of-song">
                <img src="{{comment.user.avatarUrl}}" width="40" height="40" style="float: left"
                     class="img thumbnail pull-left mr-2">
              </div>
              <span>
                       <h6 class="mb-1 text-dark"><b>{{user.name}} at {{comment.createdTime}}</b></h6>
                         <p>{{comment.content}}</p>
                    </span>
            </li>
          </ul>
          <div class="text-center">
          </div>
          <form [formGroup]="form" (ngSubmit)="onEnter()">
            <input class="input-group" type="text" formControlName="comment" placeholder="Viết bình luận...">
            <button href="javascript:" class="ms_btn">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div> -->



 <div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">

      <div class="p-3 bg-white mt-2 rounded" *ngFor="let comment of commentPlayList">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row user"><img class="rounded-circle img-fluid img-responsive" src="{{comment.user.avatarUrl}}" width="40">
            <div class="d-flex flex-column ml-2"><span class="font-weight-bold">{{comment.user.name}}</span><span class="day">{{comment.createdTime}}</span></div>
          </div>
        </div>
        <div class="comment-text text-justify mt-2">
          <p>{{comment.content}}</p>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onEnter()">
        <div   class="d-flex flex-row align-items-center add-comment p-2 bg-white rounded"><img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/kara-20aaa.appspot.com/o/me.jpg?alt=media&token=060ce5ae-deac-4059-b013-1267c7660635" width="40"><input formControlName="comment" type="text" class="form-control border-0 no-box-shadow ml-1" placeholder="Leave a constructive comment..."></div>
      </form>
    </div>
  </div>
</div>
