s<br/>
<div class="ms_heading">
  <h1>Details Songs</h1>
  <span class="veiw_all"><a href="#">view more</a></span>
</div>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="ms_rcnt_box">
        <div class="ms_rcnt_box_img">
          <img src="{{song.avatarUrl}}" alt="">
          <div class="ms_main_overlay">
            <div class="ms_box_overlay"></div>
            <div class="ms_more_icon">
<!--              <img src="{{song.user.avatarUrl}}" alt="">-->
              <i class="fas fa-headphones" style="font-size: 20px">{{song.numberOfView}}</i>
            </div>
            <ul class="more_option">
              <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To
                Favourites</a>
              </li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To
                Queue</a></li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                Now</a></li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                Playlist</a>
              </li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
              </li>
            </ul>

            <div style="display: none">
              <audio controls  id="track">
                <source src="{{song.fileUrl}}" type="audio/mpeg">
                <source src="{{song.fileUrl}}" type="audio/mp3">
                <source src="{{song.fileUrl}}" type="audio/ogg">
              </audio>
            </div>
            <div class="ms_play_icon" *ngIf="!isPlaying"
                 (click)="listenCount(song)" >

              <img src="assets/images/svg/play.svg" alt="">

            </div>
            <div class="ms_play_icon" *ngIf="isPlaying"
                 (click)="changePause()" >
              <img src="assets/images/svg/pause.svg" alt="">
            </div>


          </div>
        </div>
        <div class="ms_rcnt_box_text">
          <h3><a [routerLink]="['/song',song.id]">{{song.name}}</a></h3>
          <h3>{{song.author}}</h3>
          <h3>{{song.lyric}}</h3>
          <h3 *ngFor="let singer of singer"> {{singer.name}}</h3>

        </div>
      </div>
    </div>
  </div>
</div>

<app-comment></app-comment>
