<div class="ms_loader">
    <div class="wrap">
        <img src="assets/images/loader.gif" alt="">
    </div>
</div>
<div class="ms_main_wrapper">
    <div class="ms_sidemenu_wrapper">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="ms_content_wrapper padder_top80">
        <div class="ms_header" *ngIf="isLogin; then head1 else head"></div>
        <ng-template #head1><app-header1></app-header1></ng-template>
        <ng-template #head><app-header></app-header></ng-template>
        <router-outlet></router-outlet>
    </div>
    <div class="ms_footer_wrapper">
        <app-footer></app-footer>
    </div>
    <div class="ms_player_wrapper">
        <app-player></app-player>
    </div>
</div>
