<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="login_dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa_icon form_close"></i>
          </button>
          <div class="modal-body">
                <div class="ms_register_img">
                    <img src="../../../assets/images/register_img.png" alt="" class="img-fluid" />
                </div>
                <div class="ms_register_form">
                    <h2>login / Sign in</h2>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Your Username" class="form-control" formControlName="username"
                               required minlength="6" maxlength="15">
                        <span class="form_icon">
                            <i class="fa_icon form-envelope" aria-hidden="true"></i>
                        </span>
                      <div class="text-danger" *ngIf="username.invalid ">
                        <div *ngIf="username.errors?.required">
                          Username is required !!
                        </div>
                        <div *ngIf="username.errors?.minlength">
                          Username must be at least 6 characters !!
                        </div>
                        <div *ngIf="username.errors?.maxlength">
                          Username must be no more than 15 characters !!
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <input  type="password" placeholder="Enter Password" class="form-control" formControlName="password"
                                required minlength="6">
                        <span class="form_icon">
                            <i class="fa_icon form-lock" aria-hidden="true"></i>
                        </span>
                      <div class="text-danger" *ngIf="password.invalid ">
                        <div *ngIf="password.errors?.required">
                          Password is required
                        </div>
                        <div *ngIf="password.errors?.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>
                    </div>
                    <div class="remember_checkbox">
                      <label>Keep me signed in
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                    </div>
                  <a class="ms_btn"  (click)="login()">Login</a>
                    <div class="popup_forgot">
                      <a href="#">Forgot Password ?</a>
                    </div>
                    <p>Don't Have An Account? <a data-toggle="modal"class="ms_modal1 hideCurrentModel">register here</a></p>
                </div>
            </div>
        </div>
    </div>
</form>
