
<div class="ms_profile_wrapper">
  <h1>Create Playlist</h1>
  <div class="ms_profile_box">
    <div class="ms_pro_img">
      <div ></div>
      <ng-template #img><img src="" alt="" class="img-fluid" style="margin-bottom: 20px;"></ng-template>
      <ng-template #img1><img src="{}" alt="" class="img-fluid" style="margin-bottom: 20px;"></ng-template>
      <br/>
      <input type="file" style="height: 40px; width: 140px; line-height: 43px; margin-left: 15px;">
    </div>
    <form >
      <div class="ms_pro_form">
        <div class="form-group">
          <label>Your Full Name</label>
          <input type="text"  class="form-control" formControlName="name">
        </div>
        <br>
        <div class="form-group">
          <label>Your Gender</label>
          <input type="text"  class="form-control" formControlName="gender">
        </div>
        <br>
        <div class="form-group">
          <label>Your Hobbies</label>
          <input type="text" class="form-control" formControlName="hobbies">
        </div>
        <div class="pro-form-btn text-center marger_top15">
          <a href="javascript:" class="ms_btn" >save</a>
          <a href="javascript:" class="ms_btn" >cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
