
<div class="ms_profile_wrapper">
    <h1>Edit Profile</h1>
    <div class="ms_profile_box">
        <div class="ms_pro_img">
            <div *ngIf="checkAvt; then img else img1"></div>
            <ng-template #img><img src="{{downloadURL}}" alt="" class="img-fluid" style="margin-bottom: 20px;"></ng-template>
            <ng-template #img1><img src="{{userCurrent.avatarUrl}}" alt="" class="img-fluid" style="margin-bottom: 20px;"></ng-template>
            <br/>
            <input type="file" (change)="onChangeAvatar($event)" style="height: 40px; width: 140px; line-height: 43px; margin-left: 15px;">
        </div>
        <form [formGroup]="userForm">
            <div class="ms_pro_form">
                <div class="form-group">
                    <label>Your Full Name</label>
                    <input type="text" value={{userCurrent.name}} class="form-control" formControlName="name">
                </div>
                <br>
                <div class="form-group">

                    <label>Your Gender</label>
                    <!-- <input type="text" value={{userCurrent.gender}} class="form-control" formControlName="gender"> -->
                    <input type="radio" id="male" name="fav_language" value="male" >
                    <label for="male">Male</label><br>
                    <input type="radio" id="female" name="fav_language" value="female">
                    <label for="female">Female</label><br>
                    <input type="radio" id="other" name="fav_language" value="other">
                    <label for="other">Other</label>
                </div>
                <br>
                <div class="form-group">
                    <label>Your Hobbies</label>
                    <input type="text" value={{userCurrent.hobbies}} class="form-control" formControlName="hobbies">
                </div>
                <div class="pro-form-btn text-center marger_top15">
                    <a href="javascript:" class="ms_btn" (click)="updateProfile()">save</a>
                    <a href="javascript:" class="ms_btn" (click)="backHome()">cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
