
<div class="ms_profile_wrapper">
  <h1>Change Password</h1>
  <div class="ms_profile_box">
    <div class="ms_pro_img">
      <img src="images/pro_img.jpg" alt="" class="img-fluid">
      <div class="pro_img_overlay">
        <i class="fa_icon edit_icon"></i>
      </div>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="ms_pro_form ">
      <div class="form-group ">
        <label>Current password</label>
        <input type="password" placeholder="Enter current password" class="form-control" formControlName="currentPassword"
               required minlength="6">
        <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)" class="text-danger">
          <div *ngIf="currentPassword.errors?.required">
            Current password is required !!
          </div>
        <div *ngIf="currentPassword.errors?.minlength">
          Current password must be at least 6 characters !!
        </div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label>New password</label>
        <input type="password" placeholder="Enter Password" class="form-control" formControlName="newPassword"
               required minlength="6"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
<!--        <span class="form_icon">-->
<!--                            <i class="fa_icon form-lock" aria-hidden="true"></i>-->
<!--                        </span>-->
        <div class="text-danger" *ngIf="newPassword.invalid">
          <div *ngIf="newPassword.errors?.required">
            Password is required *
          </div>
          <div *ngIf="newPassword.errors?.minlength">
            Password must be at least 6 characters *
          </div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label>Confirm password</label>
        <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword"
               required
               [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">

        <div class="text-danger" *ngIf="confirmPassword.invalid">
          <div *ngIf="confirmPassword.errors?.required">
            Confirm Password is required *
          </div>
        </div>
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">

          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
        <div class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <div *ngIf="confirmPassword != newPassword">
            Password does not match *
          </div>
        </div>
      </div>
      <div class="pro-form-btn text-center marger_top15">
        <button type="submit" class="ms_btn">save</button>
        <button class="ms_btn" (click)="backHome()">cancel</button>
      </div>
    </div>
    </form>
  </div>
</div>
