
<div class="ms_profile_wrapper">
  <h1>Change Password</h1>
  <div class="ms_profile_box">
    <div class="ms_pro_img">
      <img src="images/pro_img.jpg" alt="" class="img-fluid">
      <div class="pro_img_overlay">
        <i class="fa_icon edit_icon"></i>
      </div>
    </div>
    <form  [formGroup]="changePasswordForm">
    <div class="ms_pro_form ">
      <div class="form-group ">
        <label>Current password</label>
        <input type="text" placeholder="Enter current password" class="form-control" formControlName="currentPassword"
               required minlength="6">
        <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)" class="text-danger">
          <div *ngIf="currentPassword.errors?.required">
            Current password is required !!
          </div>
        <div *ngIf="currentPassword.errors?.minlength">
          Current password must be at least 6 characters !!
        </div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label>New password</label>
        <input type="text" placeholder="Enter new password" class="form-control" formControlName="newPassword" >
        <div class="text-danger" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
          <div *ngIf="newPassword.errors?.required">
            Current password is required !!
          </div>
          <div *ngIf="newPassword.errors?.minlength">
            Current password must be at least 6 characters !!
          </div>
        </div>
      </div>
<br/>
      <div class="form-group">
        <label>Confirm password</label>
        <input type="text" placeholder="Enter confirm password" class="form-control" formControlName="confirmPassword" >
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
          <div *ngIf="confirmPassword.errors?.required">
            Current password is required !!
          </div>
        </div>
      </div>
      <div class="pro-form-btn text-center marger_top15">
        <a href="#" class="ms_btn">save</a>
        <a href="#" class="ms_btn">cancel</a>
      </div>
    </div>
    </form>
  </div>
</div>
