
<div class="ms_profile_wrapper">
  <h1>Change Password</h1>
  <div class="ms_profile_box">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="ms_pro_form ">
      <div class="form-group ">
        <label>Current password</label>
        <input type="password" placeholder="Enter current password" class="form-control" formControlName="currentPassword"
               required minlength="6">
        <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)" class="text-danger" style="margin-left: 110px">
          <div *ngIf="currentPassword.errors?.required">
            Current password is required !!
          </div>
        <div *ngIf="currentPassword.errors?.minlength">
          Current password must be at least 6 characters !!
        </div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label>New password</label>
        <input type="password" placeholder="Enter new password" class="form-control" formControlName="newPassword" >
        <div class="text-danger" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" style="margin-left: 110px">
          <div *ngIf="newPassword.errors?.required">
            Current password is required !!
          </div>
          <div *ngIf="newPassword.errors?.minlength">
            Current password must be at least 6 characters !!
          </div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label>Confirm password</label>
        <input type="password" placeholder="Enter confirm password" class="form-control" formControlName="confirmPassword" >
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger" style="margin-left: 110px">
          <div *ngIf="confirmPassword.errors?.required">
            Current password is required !!
          </div>
        </div>
      </div>
      <div class="pro-form-btn text-center marger_top15">
        <button type="submit" class="ms_btn">save</button>
        <button class="ms_btn" (click)="backHome()">cancel</button>
      </div>
    </div>
    </form>
  </div>
</div>
