
<br><br><br>
<h2 style="text-align: center" >Thêm Mới Bài Hát</h2>
<div class="ms_register_form" style="padding: 10px 0px 0px 300px">
  <p *ngIf="!isCheckUploadAvatar">Please Upload Avatar Song</p>
  <app-upload-img (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-img>
  <br>
  <p *ngIf="!isCheckUploadFile">Please Upload File Song</p>
  <app-upload-url (giveURLtoCreate)="onChangeFile($event)"></app-upload-url>
</div>
<br><br>

<form #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
  <div class="ms_register_form" style="padding: 50px 0px 0px 300px">

    <div class="form-group">
          <label>SongName: </label>
      <input type="text" placeholder="Enter SongName" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required>

    </div>
    <label>Category: </label>
    <div class="form-group">
      <select type="text"  class="form-control" name="category" [(ngModel)]="form.category" #category="ngModel">
        <option ></option>
      </select>

    </div>
    <div class="form-group" >
          <label>Description: </label>
      <textarea type="text" rows="9" cols="70" placeholder="Enter description" class="form-control">
      </textarea>

    </div>
    <div class="form-group">
          <label>Lyric: </label>
      <input type="password" placeholder="Lyric" class="form-control">

    </div>
    <a href="#" class="ms_btn">register now</a>
  </div>

</form>
