
<p *ngIf="!isCheckUploadAvatar">Please Upload Avatar</p>
<app-upload-img (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-img><br>

<table>
  <form class="create-song" #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
    <tr>
      <th><label>Name Song: </label></th>
      <td><input name="name" [(ngModel)]="form.name" #name="ngModel" required><br><br></td>
    </tr>
    <tr>
      <th><label>Category</label></th>
      <td><select class="form-control" name="category" [(ngModel)]="form.category" #category="ngModel">
        <option selected>Choose...</option>
        <option>...</option>
      </select><br><br></td>
    </tr>
    <tr>
      <th><label>Lyrics: </label></th>
      <td><textarea name="lyrics" [(ngModel)]="form.lyrics" #lyrics="ngModel" required></textarea><br><br></td>
    </tr>

    <tr>
      <th></th>
      <td>
        <button style="color: -moz-mac-accentface" class="mat-button-toggle-group btn-outline-success">Create
        </button>
      </td>
    </tr>

  </form>
</table>

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
